@import url('https://fonts.googleapis.com')
body {
  font-family: 'Open Sans', sans-serif;

}
nav{
  position:relative;
  margin-top:20px;
  width: 1520px;
  height: 53px;
  background:#34495e;
  border-radius:8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  padding-top: 7px;
}
nav a{
  font-size:15px;
  text-transform:uppercase ;
  color:white;
  text-decoration:none;
  line-height:50px;
  position:relative;
  z-index:1;
  display:inline-block;
  text-align:center;
}
nav .animation{
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background:#1abc9c;
  border-radius: 8px;
  transition: all .5s ease 0s;
}
a:nth-child(1){
  width:100px;
}
nav .start-home,a:nth-child(1):hover~.animation{
  width: 100px;
  left: 0;
}
a:nth-child(2){
  width:110px;
}
nav .start-about,a:nth-child(2):hover~.animation{
  width: 110px;
  left: 100px;
}
a:nth-child(3){
  width:100px;
}
nav .start-courses,a:nth-child(3):hover~.animation{
  width: 100px;
  left: 210px;
}
a:nth-child(4){
  width:160px;
}
nav .start-profile,a:nth-child(4):hover~.animation{
  width: 160px;
  left: 310px;
}
a:nth-child(5){
  width:120px;
}
nav .start-settings,a:nth-child(5):hover~.animation{
  width: 120px;
  left: 470px;
}
a:nth-child(6){
  width: 120px;
  
}
nav .start-settings,a:nth-child(6):hover~.animation{
  width: 120px;
  left: 1400px;
}


    
body{
    background:#bebfbe;
    font-family: poppins;
    margin: 0;
    padding:0;
  }
  
  .hero
{
    width: auto;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 05%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    filter: brightness(90%);
    background: black;

}
  .content{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
  }
  .content h1{
    margin: 0;
    line-height: 1;
    font-size: 200px;
    padding-top: 400px;
    font-family: sans-serif;
    color:transparent;
    text-transform: uppercase;
    background-image:-webkit-linear-gradient(92deg, rgb(248, 248, 5), rgb(79, 79, 240) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
       -webkit-animation: hue 15s infinite linear;
    text-align:center;
  }
  @-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }
  *
  .description{
    color: black;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #161623;
    min-height: 100vh;

}
.section{
    position: relative;
}
.section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}
.section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
}
.container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin-left: 10px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.container .card .conton{
    position: relative;
    color: rgba(255, 255, 255, 0.747);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.container .card:hover .conton{
    opacity: 1;
    transform: translateY(-20px);
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}
.container .card .conton .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.25);
}
.container .card .conton .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container.card.conton.contonBx h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.container.card.conton.contonBx h3 span{
    font-size: 12px;
    
    font-weight: 300;
    
    text-transform: initial;
}
.container .card.sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}
.container.card.sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}
.container.card:hover.sci li{
    transform: translateY(0px);
    opacity: 1;
}
.container.card.sci li a{
    color: rgb(12, 10, 10);
    font-size: 24px;
    
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  display: flex;
  justify-content: center;
  align-items:center;
  min-height:100vh;
  background: #091921;
}
.clock
{
  width: 350px;
  height: 350px;
  display: flex;
  margin-left: 70px;
  justify-content: center;
  align-items:center;
  background: url(clock.png);
  background-size: cover;
  border: 4px solid #091921;
  border-radius: 50%;
  box-shadow:0 -15px 15px rgba(255, 255, 255,          0.05),
             inset 0 -15px 15px rgba(255, 255, 255, 0.05),
             0 15px 15px rgba(0, 0, 0, 0.3),
             inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock:before
{
  content: '';
  position:absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius:50% ;
  z-index:10000;
}
.clock .hour,
.clock .min,
.clock .sec
{
  position:absolute;
}
.clock .hour, .hr
{
  width: 160px;
  height: 160px;
}
.clock .min, .mn
{
  width: 190px;
  height: 190px;
}
.clock .sec, .sc
{
  width: 230px;
  height: 230px;
}
.hr, .mn, .sc
{
  display: flex;
  justify-content: center;
  /* align-items:center;*/
  position:absolute;
  border-radius:50%;
}
.hr:before 
{
  content:'';
  position:absolute;
  width: 8px;
  height: 80px;
  background: #000000;
  border-radius:6px 6px 0 0 ;
  z-index:10;
}

.mn:before 
{
  content:'';
  position:absolute;
  width: 4px;
  height: 90px;
  background: rgb(0, 0, 0);
  border-radius:6px 6px 0 0 ;
  z-index:11;
}
.sc:before 
{
  content:'';
  position:absolute;
  width: 2px;
  height: 150px;
  background: rgb(0, 0, 0);
  border-radius:6px 6px 0 0 ;
  z-index:12;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(90deg,#7c7c7cf8,#e1e1e1ec);

}
.wrapper
{
    display: inline-flex;
    margin-top: 150px;
    padding-bottom: 50px;
    

}
.wrapper .icon{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;

}
.wrapper .icon span{
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
   z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.wrapper .icon span i{
    font-size: 25px;
    line-height: 60px;
}
.wrapper .icon:hover span{
    color: #fff;
}
.wrapper .icon .tooltip{
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    pointer-events: none;
}
.wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}
.wrapper .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before{
    background: #385999;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before{
    background: #46c1f6;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before{
    background: #e1306c;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before{
    background: #333;
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before{
    background: #DE463B;
}

