*
{
    margin: 0;

    padding: 0;
    box-sizing: border-box;

}
body{
    background: #111;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;


}
header .logo{
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;

}
 header .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    background: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;


}
.slider{
    position: relative;
    width: 500%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #000;

}